* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

html {
    cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 512 512' style='enable-background:new 0 0 512.011 512.011;' xml:space='preserve'%3E %3Cpath fill='DeepSkyBlue' d='M434.215,344.467L92.881,3.134c-4.16-4.171-10.914-4.179-15.085-0.019  c-2.011,2.006-3.139,4.731-3.134,7.571v490.667c0.003,4.382,2.685,8.316,6.763,9.92c4.081,1.603,8.727,0.545,11.712-2.667  l135.509-145.92h198.016c5.891,0.011,10.675-4.757,10.686-10.648C437.353,349.198,436.226,346.473,434.215,344.467z'/%3E %3C/svg%3E"), pointer;
}

body {
    background: url(assests/body.jpeg) no-repeat center fixed;
    background-size: cover;

}

/* *******Navbar******** */

.header {
    height: 80px;
    background-color: rgba(244, 244, 244, 0.797);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(60px);
}

.navbar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.links {
    margin-right: 60px;
}

.links-mob {
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.links a,
.links-mob a {
    margin-left: 15px;
    color: black;
    font-weight: 800;
    font-size: 1.2rem;
}

.download-btn {
    background-color: rgb(251, 154, 18);
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

.logo {
    height: 100px;
    width: 200px;
    background-image: url(assests/logo.png);
    background-size: cover;
    translate: 0 -26px;

}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgba(244, 244, 244, 0.797);
    box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.2);
    z-index: 99;
    width: 100vw;
    backdrop-filter: blur(50px);
}

.sidebar a {
    color: black;
    font-weight: 800;
    font-size: 1.2rem;
    padding: 25px;
    width: 300px;
    text-align: center;
}

.sidebar a:hover {
    background-color: #fff;
}



/* *******Body****** */
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}


.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;


}

h1 {
    width: 85%;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(100px);
    border-radius: 35px;
    padding: 20px;
}

.box {
    height: 500px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(100px);
    border-radius: 50px;
    margin: 50px 15px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2), -4px -4px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    flex-direction: column;
    color: #fff;

}

.intro {
    height: 200px;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.cont {
    width: 85vw;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(100px);
    border-radius: 50px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2), -4px -4px 16px rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 50px 15px;


}


/* *******Download******* */

.download {
    width: 85%;
    height: 280px;
    color: white;
    padding: 25px;
    backdrop-filter: blur(100px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.download a {
    margin: 15px;
    color: black;
    font-weight: 800;
    font-size: 1.2rem;
}

.download h2,
.download p {
    margin: 10px;
}

.download h2 {
    font-size: 1.7rem;
}

.download p {
    font-size: 1.2rem;
    text-align: center;
}

.btns {
    display: flex;
    align-items: center;
    margin: 10px;
}

.two {
    padding: 10px;
    border-radius: 8px;
    border: 1.5px solid rgb(165, 165, 165);
    background-color: rgb(251, 154, 18);
    text-align: center;
}


/* *****Gameplay****** */
.gameplay {
    font-size: 1.2rem;
}

iframe {
    margin: 25px;
    width: 700px;
    height: 400px;
}

.gameplay-features {
    margin-top: 30px;
}

.inside {
    background-color: #ffffff00;
}

.modes img {
    height: 200px;
}

.modes {
    font-size: 1.2rem;
    text-align: center;
}

/* ******Tips***** */

.tips {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.tip {
    height: 250px;
    width: 250px;
    text-align: center;

}

/* ******Heros***** */
.heros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.herosimg {
    width: 85%;
    height: 600px;
    background: url(assests/heros.jpg) no-repeat bottom;
    background-size: cover;
    margin: 0 auto;
}

.hero-type img {
    width: 350px;
    border-radius: 30px;
}

.hero-type {
    text-align: center;
    margin-top: 30px;
    font-size: 1.2rem;
    justify-content: space-between;
    height: max-content;

}



.intro2 {
    width: 65%;
    margin: 25px;
    height: auto;
    border-radius: 35px;
    margin: 0;
    margin-top: 30px;
}

.fav img {
    height: 200px;
    border-radius: 25px;
}

.fav {
    justify-content: space-between;
    font-size: 1.2rem;
    height: auto;
}

/* ******Gallery***** */

button {
    border: none;
    cursor: pointer;
    background: none;
    transition: all .3s ease-in-out;
}

.carousel-container {
    width: 85%;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(60px);
    border-radius: 35px;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    transition: all 0.25s ease-in;
}

.carousel-view .item-list {
    max-width: 950px;
    padding: 50px 10px;
    display: flex;
    gap: 48px;
    scroll-behavior: smooth;
    transition: all 0.25s ease-in;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.prev-btn, .next-btn  {
    cursor: pointer;
}

.item {
    scroll-snap-align: center;
    height: 490px;
    border-radius: 25px;
}

/* ******About***** */
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mini {
    height: 300px;
    width: 300px;
    text-align: center;
    margin-top: 30px;

}

/* ******Footer****** */
.footer {
    height: max-content;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(60px);
    margin-top: 100px;
    padding: 20px;
}

.footer a {
    color: white;
}

.footer-links {
    display: flex;
}

.link-box {
    display: flex;
    flex-direction: column;
    margin: 0 100px;
}

.link-box h4 {
    font-size: 1.3rem;
}

.link-box a {
    margin-top: 5px;
}

.copyright,
.btt {
    margin: 15px 0;
}






/* ******MEDIA QUERIES******* */

@media only screen and (max-width: 1000px) {
    .links {
        display: none;
    }

    .links-mob {
        display: flex;
    }

    .intro {
        height: max-content;
    }

    .box {
        width: 85vw;
        margin: 25px;
    }

    .cont {
        margin: 25px;
    }

    .download {
        height: max-content;
    }

    .btns {
        flex-direction: column;
    }

    .footer-links {
        flex-wrap: wrap;
    }

    .link-box {
        margin: 20px;
    }

    .footer p {
        text-align: center;
    }

    iframe {
        width: 300px;
        height: 200px;
    }

    .item-list{
        width: 300px;
    }
    .item{
        height: 160px;
    }

    .prev-btn, .next-btn  {
        display: none;
    }
}